// font-size
$font_size_xxs: 1rem;
$font_size_xs: 1.2rem;
$font_size_s: 1.4rem;
$font_size_m: 1.6rem;
$font_size_l: 1.8rem;
$font_size_xl: 2rem;
$font_size_xxl: 2.2rem;

// font-color
$font_black_A: #444;

// color
// white
$white_A: #fff;

// black
$black_A: #000;
$black_B: #222;

// gray
$gray_A: #aaa;
$gray_B: #ddd;

// base color
$green: #a2d188;
$red: #f4c4c6;
$blue: #a0daea;
$yellow: #fae094;
$braun: #d9bb97;

// opacity
$opacity: 0.7;
